<header><h1>Blog-a-Blog</h1><span>on single page applications, interface, and javascript in general</span></header>
<section class="content"><section class="area"></section></section>
<footer>...<br/>@Jonathan Park 2013</footer>